# =========================
# Models & Training Outputs
# =========================
fine_tuned_model/
test_trainer/
my_saved_models/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Secrets
# =========================
config.py

# =========================
# macOS
# =========================
.DS_Store
